In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import matplotlib.font_manager as fm

plt.rcParams['font.family'] = 'NanumGothic'
plt.style.use('ggplot')

In [9]:
os.chdir('C:\\Users\\user\\OneDrive\\바탕 화면\\이현방\\빅콘테스트\\Seafood_Import_Price_Prediction\\DATA_기타')

In [10]:
root = os.path.join(os.getcwd(), '환율')

In [11]:
exchange_vit = pd.read_csv(os.path.join(root,'VND_USD 내역 (베트남).csv'),encoding='UTF-8') 
exchange_vit # 2015~2019년 베트남 환율

                날짜        종가        오픈        고가        저가    변동 %
0    2019년 12월 30일  0.000043  0.000043  0.000043  0.000043  -0.02%
1    2019년 12월 29일  0.000043  0.000043  0.000043  0.000043   0.00%
2    2019년 12월 27일  0.000043  0.000043  0.000043  0.000043   0.00%
3    2019년 12월 26일  0.000043  0.000043  0.000043  0.000043   0.02%
4    2019년 12월 25일  0.000043  0.000043  0.000043  0.000043   0.00%
..             ...       ...       ...       ...       ...     ...
580  2018년 02월 21일  0.000044  0.000044  0.000044  0.000044  -0.09%
581  2018년 02월 20일  0.000044  0.000044  0.000044  0.000044   0.80%
582  2018년 02월 19일  0.000044  0.000044  0.000044  0.000044  -0.75%
583  2018년 02월 18일  0.000044  0.000044  0.000044  0.000044   0.00%
584  2018년 02월 16일  0.000044  0.000044  0.000044  0.000044   0.03%

[585 rows x 6 columns]

In [12]:
exchange_vit['날짜'] = exchange_vit['날짜'].str.replace('년 ','-')
exchange_vit['날짜'] = exchange_vit['날짜'].str.replace('월 ','-')
exchange_vit['날짜'] = exchange_vit['날짜'].str.replace('일','')

exchange_vit['날짜'] = exchange_vit['날짜'].astype('datetime64')
exchange_vit_7 = exchange_vit.query('날짜.dt.dayofweek == 0')

exchange_vit_7 = exchange_vit_7[['날짜','종가']]

exchange_vit_7 = exchange_vit_7.sort_index(ascending=False)

exchange_vit_7

            날짜        종가
582 2018-02-19  0.000044
576 2018-02-26  0.000044
570 2018-03-05  0.000044
564 2018-03-12  0.000044
558 2018-03-19  0.000044
..         ...       ...
24  2019-12-02  0.000043
18  2019-12-09  0.000043
12  2019-12-16  0.000043
6   2019-12-23  0.000043
0   2019-12-30  0.000043

[98 rows x 2 columns]

In [14]:
len(exchange_vit_7['날짜'].unique()) # 결측치 일부 존재 -> 결측치 처리 필요할 듯

98

In [15]:
exchange_vit_7.to_csv("C:\\Users\\user\\OneDrive\\바탕 화면\\exchange_vit_7.csv")

In [16]:
exchange_thai = pd.read_csv(os.path.join(root,'THB_USD 내역 (태국).csv'),encoding='utf-8') 
exchange_thai # 2015~2019년 태국 환율

                 날짜      종가      오픈      고가      저가    변동 %
0     2021년 06월 28일  0.0313  0.0314  0.0315  0.0313  -0.28%
1     2021년 06월 25일  0.0314  0.0313  0.0315  0.0313   0.22%
2     2021년 06월 24일  0.0313  0.0314  0.0314  0.0313  -0.22%
3     2021년 06월 23일  0.0314  0.0315  0.0316  0.0313  -0.35%
4     2021년 06월 22일  0.0315  0.0316  0.0316  0.0315  -0.41%
...             ...     ...     ...     ...     ...     ...
1431  2016년 01월 01일  0.0277  0.0278  0.0278  0.0277  -0.36%
1432  2015년 12월 31일  0.0278  0.0277  0.0278  0.0277   0.36%
1433  2015년 12월 30일  0.0277  0.0277  0.0278  0.0277   0.00%
1434  2015년 12월 29일  0.0277  0.0277  0.0278  0.0277   0.00%
1435  2015년 12월 28일  0.0277  0.0277  0.0278  0.0276   0.00%

[1436 rows x 6 columns]

In [17]:
exchange_thai['날짜'] = exchange_thai['날짜'].str.replace('년 ','-')
exchange_thai['날짜'] = exchange_thai['날짜'].str.replace('월 ','-')
exchange_thai['날짜'] = exchange_thai['날짜'].str.replace('일','')

exchange_thai['날짜'] = exchange_thai['날짜'].astype('datetime64')
exchange_thai_7 = exchange_thai.query('날짜.dt.dayofweek == 0')

exchange_thai_7 = exchange_thai_7[['날짜','종가']]

exchange_thai_7 = exchange_thai_7.sort_index(ascending=False)

exchange_thai_7

             날짜      종가
1435 2015-12-28  0.0277
1430 2016-01-04  0.0277
1425 2016-01-11  0.0276
1420 2016-01-18  0.0275
1415 2016-01-25  0.0278
...         ...     ...
20   2021-05-31  0.0320
15   2021-06-07  0.0321
10   2021-06-14  0.0321
5    2021-06-21  0.0316
0    2021-06-28  0.0313

[288 rows x 2 columns]

In [27]:
total = len(pd.date_range('2015-12-28','2021-06-28',freq='7D'))

total # 2015-12-28 부터 2021-06-28까지 일주일 간격의 기간

288

In [31]:
total - len(exchange_thai_7['날짜'].unique()) # 결측치 없음.

0

In [28]:
exchange_thai_7.to_csv("C:\\Users\\user\\OneDrive\\바탕 화면\\exchange_thai_7.csv")

In [29]:
exchange_peru = pd.read_csv(os.path.join(root,'PEN_USD 내역 (페루).csv'),encoding='utf-8') 
exchange_peru # 2015~2019년 페루 환율

                 날짜      종가      오픈      고가      저가    변동 %
0     2021년 06월 28일  0.2572  0.2515  0.2576  0.2512   2.51%
1     2021년 06월 25일  0.2509  0.2510  0.2521  0.2508   0.00%
2     2021년 06월 24일  0.2509  0.2512  0.2524  0.2507  -0.12%
3     2021년 06월 23일  0.2512  0.2512  0.2521  0.2511   0.00%
4     2021년 06월 22일  0.2512  0.2529  0.2530  0.2511  -0.63%
...             ...     ...     ...     ...     ...     ...
1431  2016년 01월 01일  0.2933  0.2920  0.2933  0.2920   0.17%
1432  2015년 12월 31일  0.2928  0.2924  0.2939  0.2922  -0.17%
1433  2015년 12월 30일  0.2933  0.2928  0.2948  0.2923  -0.14%
1434  2015년 12월 29일  0.2937  0.2935  0.2944  0.2926  -0.20%
1435  2015년 12월 28일  0.2943  0.2946  0.2955  0.2927  -0.41%

[1436 rows x 6 columns]

In [30]:
exchange_peru['날짜'] = exchange_peru['날짜'].str.replace('년 ','-')
exchange_peru['날짜'] = exchange_peru['날짜'].str.replace('월 ','-')
exchange_peru['날짜'] = exchange_peru['날짜'].str.replace('일','')

exchange_peru['날짜'] = exchange_peru['날짜'].astype('datetime64')
exchange_peru_7 = exchange_peru.query('날짜.dt.dayofweek == 0')

exchange_peru_7 = exchange_peru_7[['날짜','종가']]

exchange_peru_7 = exchange_peru_7.sort_index(ascending=False)

exchange_peru_7

             날짜      종가
1435 2015-12-28  0.2943
1430 2016-01-04  0.2930
1425 2016-01-11  0.2916
1420 2016-01-18  0.2913
1415 2016-01-25  0.2887
...         ...     ...
20   2021-05-31  0.2603
15   2021-06-07  0.2539
10   2021-06-14  0.2564
5    2021-06-21  0.2528
0    2021-06-28  0.2572

[288 rows x 2 columns]

In [32]:
total - len(exchange_peru_7['날짜'].unique()) # 결측치 없음

0

In [33]:
exchange_peru_7.to_csv("C:\\Users\\user\\OneDrive\\바탕 화면\\exchange_peru_7.csv")

In [34]:
exchange_nor = pd.read_csv(os.path.join(root,'NOK_USD 내역 (노르웨이).csv'),encoding='utf-8') 
exchange_nor # 2015~2019년 노르웨이 환율

                 날짜      종가      오픈      고가      저가    변동 %
0     2021년 06월 28일  0.1172  0.1176  0.1179  0.1170  -0.57%
1     2021년 06월 25일  0.1179  0.1176  0.1183  0.1172   0.19%
2     2021년 06월 24일  0.1176  0.1172  0.1178  0.1170   0.41%
3     2021년 06월 23일  0.1172  0.1170  0.1179  0.1167   0.04%
4     2021년 06월 22일  0.1171  0.1165  0.1176  0.1160   0.45%
...             ...     ...     ...     ...     ...     ...
1431  2016년 01월 01일  0.1128  0.1131  0.1132  0.1127  -0.27%
1432  2015년 12월 31일  0.1131  0.1136  0.1139  0.1125  -0.53%
1433  2015년 12월 30일  0.1137  0.1147  0.1151  0.1130  -0.87%
1434  2015년 12월 29일  0.1147  0.1149  0.1155  0.1142  -0.17%
1435  2015년 12월 28일  0.1149  0.1153  0.1155  0.1147   0.09%

[1436 rows x 6 columns]

In [35]:
exchange_nor['날짜'] = exchange_nor['날짜'].str.replace('년 ','-')
exchange_nor['날짜'] = exchange_nor['날짜'].str.replace('월 ','-')
exchange_nor['날짜'] = exchange_nor['날짜'].str.replace('일','')

exchange_nor['날짜'] = exchange_nor['날짜'].astype('datetime64')

exchange_nor_7 = exchange_nor.query('날짜.dt.dayofweek == 0')

exchange_nor_7 = exchange_nor_7[['날짜','종가']]

exchange_nor_7 = exchange_nor_7.sort_index(ascending=False)

exchange_nor_7

             날짜      종가
1435 2015-12-28  0.1149
1430 2016-01-04  0.1126
1425 2016-01-11  0.1119
1420 2016-01-18  0.1124
1415 2016-01-25  0.1142
...         ...     ...
20   2021-05-31  0.1201
15   2021-06-07  0.1210
10   2021-06-14  0.1203
5    2021-06-21  0.1166
0    2021-06-28  0.1172

[288 rows x 2 columns]

In [36]:
total - len(exchange_nor_7['날짜'].unique()) # 결측치 없음

0

In [37]:
exchange_nor_7.to_csv("C:\\Users\\user\\OneDrive\\바탕 화면\\exchange_nor_7.csv")

In [43]:
exchange_chn = pd.read_csv(os.path.join(root,'CNY_USD 내역 (중국).csv'),encoding='utf-8') 
exchange_chn # 2015~2019년 중국 환율

                 날짜      종가      오픈      고가      저가    변동 %
0     2021년 06월 28일  0.1549  0.1548  0.1550  0.1547   0.00%
1     2021년 06월 25일  0.1548  0.1547  0.1550  0.1546   0.24%
2     2021년 06월 24일  0.1545  0.1544  0.1547  0.1542   0.00%
3     2021년 06월 23일  0.1544  0.1545  0.1545  0.1541   0.10%
4     2021년 06월 22일  0.1543  0.1547  0.1548  0.1542  -0.21%
...             ...     ...     ...     ...     ...     ...
1431  2016년 01월 01일  0.1540  0.1540  0.1540  0.1540   0.00%
1432  2015년 12월 31일  0.1540  0.1541  0.1541  0.1540  -0.06%
1433  2015년 12월 30일  0.1541  0.1542  0.1542  0.1540  -0.06%
1434  2015년 12월 29일  0.1542  0.1542  0.1542  0.1542   0.06%
1435  2015년 12월 28일  0.1541  0.1544  0.1544  0.1541  -0.19%

[1436 rows x 6 columns]

In [44]:
exchange_chn['날짜'] = exchange_chn['날짜'].str.replace('년 ','-')
exchange_chn['날짜'] = exchange_chn['날짜'].str.replace('월 ','-')
exchange_chn['날짜'] = exchange_chn['날짜'].str.replace('일','')

exchange_chn['날짜'] = exchange_chn['날짜'].astype('datetime64')

exchange_chn_7 = exchange_chn.query('날짜.dt.dayofweek == 0')
exchange_chn_7 = exchange_chn_7[['날짜','종가']]

exchange_chn_7 = exchange_chn_7.sort_index(ascending=False)

exchange_chn_7

             날짜      종가
1435 2015-12-28  0.1541
1430 2016-01-04  0.1530
1425 2016-01-11  0.1522
1420 2016-01-18  0.1520
1415 2016-01-25  0.1520
...         ...     ...
20   2021-05-31  0.1570
15   2021-06-07  0.1563
10   2021-06-14  0.1563
5    2021-06-21  0.1546
0    2021-06-28  0.1549

[288 rows x 2 columns]

In [45]:
exchange_chn['날짜'] = exchange_chn['날짜'].astype('string')

exchange_chn['날짜'] = exchange_chn['날짜'].str.replace('년 ','-')
exchange_chn['날짜'] = exchange_chn['날짜'].str.replace('월 ','-')
exchange_chn['날짜'] = exchange_chn['날짜'].str.replace('일','')

exchange_chn['날짜'] = exchange_chn['날짜'].astype('datetime64')

exchange_chn_7 = exchange_chn.query('날짜.dt.dayofweek == 0')
exchange_chn_7 = exchange_chn_7[['날짜','종가']]

exchange_chn_7 = exchange_chn_7.sort_index(ascending=False)

exchange_chn_7

             날짜      종가
1435 2015-12-28  0.1541
1430 2016-01-04  0.1530
1425 2016-01-11  0.1522
1420 2016-01-18  0.1520
1415 2016-01-25  0.1520
...         ...     ...
20   2021-05-31  0.1570
15   2021-06-07  0.1563
10   2021-06-14  0.1563
5    2021-06-21  0.1546
0    2021-06-28  0.1549

[288 rows x 2 columns]

In [46]:
total - len(exchange_chn_7['날짜'].unique()) # 결측치 없음.

0

In [47]:
exchange_chn_7.to_csv("C:\\Users\\user\\OneDrive\\바탕 화면\\exchange_chn_7.csv")

In [48]:
exchange_chile = pd.read_csv(os.path.join(root,'CLP_USD 내역 (칠레).csv'),encoding='utf-8') 
exchange_chile # 2015~2019년 칠레 환율

                 날짜        종가        오픈        고가        저가    변동 %
0     2021년 06월 28일  0.001359  0.001364  0.001365  0.001360  -0.29%
1     2021년 06월 25일  0.001363  0.001362  0.001373  0.001362   0.15%
2     2021년 06월 24일  0.001361  0.001358  0.001375  0.001358   0.29%
3     2021년 06월 23일  0.001357  0.001349  0.001366  0.001348   0.67%
4     2021년 06월 22일  0.001348  0.001338  0.001353  0.001320   0.82%
...             ...       ...       ...       ...       ...     ...
1431  2016년 01월 01일  0.001400  0.001400  0.001400  0.001400   0.00%
1432  2015년 12월 31일  0.001400  0.001400  0.001400  0.001400   0.00%
1433  2015년 12월 30일  0.001400  0.001400  0.001400  0.001400   0.00%
1434  2015년 12월 29일  0.001400  0.001400  0.001400  0.001400   0.00%
1435  2015년 12월 28일  0.001400  0.001400  0.001400  0.001400   0.00%

[1436 rows x 6 columns]

In [49]:
exchange_chile['날짜'] = exchange_chile['날짜'].str.replace('년 ','-')
exchange_chile['날짜'] = exchange_chile['날짜'].str.replace('월 ','-')
exchange_chile['날짜'] = exchange_chile['날짜'].str.replace('일','')

exchange_chile['날짜'] = exchange_chile['날짜'].astype('datetime64')

exchange_chile_7 = exchange_chile.query('날짜.dt.dayofweek == 0')
exchange_chile_7 = exchange_chile_7[['날짜','종가']]

exchange_chile_7 = exchange_chile_7.sort_index(ascending=False)

exchange_chile_7

             날짜        종가
1435 2015-12-28  0.001400
1430 2016-01-04  0.001400
1425 2016-01-11  0.001400
1420 2016-01-18  0.001400
1415 2016-01-25  0.001400
...         ...       ...
20   2021-05-31  0.001382
15   2021-06-07  0.001395
10   2021-06-14  0.001389
5    2021-06-21  0.001337
0    2021-06-28  0.001359

[288 rows x 2 columns]

In [50]:
total - len(exchange_chile_7['날짜'].unique()) # 결측치 없음.

0

In [51]:
exchange_chile_7.to_csv("C:\\Users\\user\\OneDrive\\바탕 화면\\exchange_chile_7.csv")